
#contents-area {
  > p {
    margin-left: 10px;
  }

  @include large {
    float: left;
    width: 80%;
    padding: 20px 0 5rem 45px;
    border-left: $border-color solid 1px;
    margin-left: -1px;
  }

  @include medium {
    float: left;
    width: 80%;
    padding: 20px;
    border-left: none;
  }

  @include small {
    width: 100%;
    padding: 20px;
    border-left: none;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
	color: $section-headings-color;
	margin-bottom: 10px
  }

  h3 {
    font-size: 1.5em;
    margin: 2.2em 0 0.5em 5px;
  }

  h4 {
    position: relative;
    margin: 1em 0 0.5em 0;
    background: $method-h-color;
    border-radius: 0 5px 0 5px;
    padding: 6px 16px;
  }

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-top: 0;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.8rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 1.5em 3em;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.8rem;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;

    > code {
      padding: 0;
      margin: 0;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  div.highlight {
    border-radius: 5px;
    overflow: hidden;
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

}
